NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

NEXT_PUBLIC_ORACLE_URL=http://localhost:8000
NEXT_PUBLIC_LAMBDA_WAKE_URL=https://your-lambda-url.lambda-url.region.on.aws/

S3_REGION=ap-south-1
S3_ACCESS_KEY_ID=your-aws-access-key-id
S3_SECRET_ACCESS_KEY=your-aws-secret-access-key
S3_S3_BUCKET_NAME=your-s3-bucket-name

# Format: postgresql://USER:PASSWORD@ENDPOINT:PORT/DBNAME
DATABASE_URL=postgresql://postgres:password@host:5432/database_name
