# Polygon Amoy RPC URL
AMOY_RPC_URL=https://rpc-amoy.polygon.technology
CONTRACT_ADDRESS=0x51fC81A0ffF7275D5f0Bc5B0B96A159725825CB7

ALGORAND_APP_ID=756429590

# Supabase Credentials (Get these from your dashboard)
SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_KEY=your-supabase-service-key

DATABASE_URL=postgresql://postgres:password@host:5432/database_name
ALGOD_ADDRESS=https://testnet-api.algonode.cloud
